### 30105_김호준_결측처리

### 문제1. 엑셀파일을 가져올 수 있는가?

In [55]:
import pandas as pd

In [61]:
path = r'C:\Users\user\Desktop\새 폴더\data1.csv'

In [62]:
df = pd.read_csv(path)

In [63]:
df

            시군구       의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0       강원도 강릉시      강릉동인병원    21  608       NaN        NaN               NaN
1       강원도 강릉시     박정빈외과의원     1    0       NaN        NaN               NaN
2       강원도 강릉시     이명호내과의원     1    0       NaN        NaN               NaN
3       강원도 고성군       세브란의원     4    0       NaN        NaN               NaN
4       강원도 동해시  근로복지공단동해병원    10  499         Y        NaN               NaN
..          ...         ...   ...  ...       ...        ...               ...
314  충북 청주시 청원구      초정노인병원     3  150       NaN        NaN               NaN
315  충북 청주시 흥덕구      청주현대병원     4  150       NaN        NaN               NaN
316      충북 충주시     건국대충주병원    23  464         Y        NaN               NaN
317      충북 충주시      송원요양병원     2  105       NaN        NaN               NaN
318      충북 충주시   충주시노인전문병원     4  120       NaN        NaN               NaN

[319 rows x 7 columns]

### 문제2 결측열만 볼 수 있는가?

In [68]:
null_count=df.isnull().sum()

In [69]:
null_count

시군구                    0
의료기관명                  0
진료과수                   0
병상수                    0
국민안심병원 여부            247
감염병전담기관 여부           293
감염병전담기관 외래진료 가능여부    293
dtype: int64

In [77]:
df_null_count = null_count.reset_index()

In [78]:
df_null_count

               index    0
0                시군구    0
1              의료기관명    0
2               진료과수    0
3                병상수    0
4          국민안심병원 여부  247
5         감염병전담기관 여부  293
6  감염병전담기관 외래진료 가능여부  293

In [80]:
df_null_count.columns=['메뉴', '결측']

In [82]:
df_null_count

                  메뉴   결측
0                시군구    0
1              의료기관명    0
2               진료과수    0
3                병상수    0
4          국민안심병원 여부  247
5         감염병전담기관 여부  293
6  감염병전담기관 외래진료 가능여부  293

In [83]:
df_null_count_3 = df_null_count.sort_values(by='결측',ascending=False).head(3)

In [84]:
drop_columns = df_null_count_3['메뉴']

In [85]:
drop_columns.to_list()

['감염병전담기관 여부', '감염병전담기관 외래진료 가능여부', '국민안심병원 여부']

In [86]:
df[drop_columns]

    감염병전담기관 여부 감염병전담기관 외래진료 가능여부 국민안심병원 여부
0          NaN               NaN       NaN
1          NaN               NaN       NaN
2          NaN               NaN       NaN
3          NaN               NaN       NaN
4          NaN               NaN         Y
..         ...               ...       ...
314        NaN               NaN       NaN
315        NaN               NaN       NaN
316        NaN               NaN         Y
317        NaN               NaN       NaN
318        NaN               NaN       NaN

[319 rows x 3 columns]

In [87]:
print(df.shape)

(319, 7)

In [88]:
print(df.shape)

(319, 7)

In [89]:
df.head()

       시군구       의료기관명  진료과수  병상수 국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0  강원도 강릉시      강릉동인병원    21  608       NaN        NaN               NaN
1  강원도 강릉시     박정빈외과의원     1    0       NaN        NaN               NaN
2  강원도 강릉시     이명호내과의원     1    0       NaN        NaN               NaN
3  강원도 고성군       세브란의원     4    0       NaN        NaN               NaN
4  강원도 동해시  근로복지공단동해병원    10  499         Y        NaN               NaN

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 7 columns):
시군구                  319 non-null object
의료기관명                319 non-null object
진료과수                 319 non-null int64
병상수                  319 non-null int64
국민안심병원 여부            72 non-null object
감염병전담기관 여부           26 non-null object
감염병전담기관 외래진료 가능여부    26 non-null object
dtypes: int64(2), object(5)
memory usage: 17.6+ KB

### 문제3. 결측열 제거하기

In [92]:
df=df.drop(drop_columns, axis=1)b

KeyError: "['감염병전담기관 여부' '감염병전담기관 외래진료 가능여부' '국민안심병원 여부'] not found in axis"

In [93]:
df

            시군구       의료기관명  진료과수  병상수
0       강원도 강릉시      강릉동인병원    21  608
1       강원도 강릉시     박정빈외과의원     1    0
2       강원도 강릉시     이명호내과의원     1    0
3       강원도 고성군       세브란의원     4    0
4       강원도 동해시  근로복지공단동해병원    10  499
..          ...         ...   ...  ...
314  충북 청주시 청원구      초정노인병원     3  150
315  충북 청주시 흥덕구      청주현대병원     4  150
316      충북 충주시     건국대충주병원    23  464
317      충북 충주시      송원요양병원     2  105
318      충북 충주시   충주시노인전문병원     4  120

[319 rows x 4 columns]