### for_list_format

In [3]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [4]:
type(num)

list

In [5]:
for i in num:
    print(i,'번',end = '/')

1 번/2 번/3 번/4 번/5 번/

In [24]:
for i in num:
    print('%d번' %i,  end = ' ')

1번 2번 3번 4번 5번

In [10]:
i=0
if i==0 :
    print('i는 0이다')
else:
    print('i는 0이 아니다')

i는 0이다

In [12]:
i=10
if i%2==0 :
    print(i,'는 짝수이다')
else:
    print(i,'i는 홀수이다')

10 는 짝수이다

In [25]:
i = int(input('숫자입력>>>'))
if i%2==0 :
    print(i,'는 짝수이다')
else:
    print(i,'는 홀수이다')

숫자입력>>>3
3 i는 홀수이다

In [27]:
sub = ['국','영','수','정보']
for i, s in enumerate(sub):
    print(sub[i], end=' ')

국 영 수 정보

In [31]:
sub = ['국','영','수','정보']
for i, s in enumerate(sub):
    if sub[i] == '정보':
        print(i+1,'교시',sub[i],'합격')
    else:
        print(i+1,'교시',sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [33]:
for i in range(1,11):
    if i % 2==0:
        print('파이썬')
    else:
        print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

### List

In [34]:
juso='  광주광역시 중구 참외전로 6번지 3층 창의관  '

In [35]:
juso

' 광주광역시 중구 참외전로 6번지 3층 창의관 '

In [51]:
type(juso)

str

In [53]:
len(juso)

26

In [54]:
juso=juso.strip()

In [55]:
juso, len(juso)

('광주광역시 중구 참외전로 6번지 3층 창의관', 24)

In [56]:
juso

'광주광역시 중구 참외전로 6번지 3층 창의관'

In [57]:
addr=juso.split()

In [58]:
addr, len(addr), type(addr)

(['광주광역시', '중구', '참외전로', '6번지', '3층', '창의관'], 6, list)

In [59]:
addr[:2],addr[3:]

(['광주광역시', '중구'], ['6번지', '3층', '창의관'])

In [61]:
juso.startswith('인천')

False

In [62]:
juso.endswith('관')

True

### Format

In [63]:
s = 'A is {},{}'
pr = s.format('사과','오렌지')
print(pr)

A is 사과,오렌지

In [64]:
info_1 = '학교: {} 학번: {} 이름:{}'
p = info_1.format('인천정보산업고등학교',20101,'최정보')
print(p)

학교: 인천정보산업고등학교 학번: 20101 이름:최정보

### [문제1]30부터 50까지 중에서 홀수만 출력

In [71]:
for i in range(30,51):
    if i%2==0:
        print(i,':홀수')

30 :홀수
32 :홀수
34 :홀수
36 :홀수
38 :홀수
40 :홀수
42 :홀수
44 :홀수
46 :홀수
48 :홀수
50 :홀수

### [문제2]아이디(문자)를 입력받아 동일하면

In [6]:
id=input('아이디 입력')

아이디 입력ho

In [9]:
id

'ho'

In [10]:
id=input('아이디 입력')
pa='jun'
if id==pa:
    print('안녕하세요 회원님')
else :
    print('그렇지 않으면 회원가입')

아이디 입력jun
안녕하세요 회원님

### [문제3] 입력예) 인천정보산업고/30105/김장민 입력받아
- 학교:인천정보산업고
- 학번:30105
- 이름:김장민

In [69]:
stu=list(map(str, input('내용입력>>').split('/')))

내용입력>>인천정보산업고/30105/김장민

In [70]:
stu

['인천정보산업고', '30105', '김장민']

### [문제4] 숫자데이터 5개를 입력받아
- 합계
- 평균

In [2]:
a = list(map(int,input('숫자입력>>>').split(',')))
print(sum(a))
print(sum(a)/len(a))

숫자입력>>>1,2,3,4,5
15
3.0